{% extends 'backend.html.twig' %}

{% block contenido %}
    <h1>Lista de videojuegos</h1>

    <table>
        <thead>
            <tr>
                <th class="pr-4 pl-4">Id</th>
                <th class="pr-4 pl-4">Nombre</th>
                <th class="pr-4 pl-4">Descripcion</th>
                <th class="pr-4 pl-4">Rutaimagen</th>
                <th class="pr-4 pl-4">Fechalanzamiento</th>
                <th class="pr-4 pl-4">Plataformas</th>
                <th class="pr-4 pl-4">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for videojuego in videojuegos %}
            <tr>
                <td class="pr-4 pl-4"><a href="{{ path('videojuegocrud_show', { 'id': videojuego.id }) }}">{{ videojuego.id }}</a></td>
                <td class="pr-4 pl-4">{{ videojuego.nombre }}</td>
                <td class="pr-4 pl-4">{{ videojuego.descripcion }}</td>
                <td class="pr-4 pl-4">{{ videojuego.ruta_Imagen }}</td>
                <td class="pr-4 pl-4">{% if videojuego.fecha_Lanzamiento %}{{ videojuego.fecha_Lanzamiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="pr-4 pl-4">{{ videojuego.plataformas }}</td>
                <td class="pr-4 pl-4">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('videojuegocrud_show', { 'id': videojuego.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('videojuegocrud_edit', { 'id': videojuego.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('videojuegocrud_new') }}">Crear un videojuego</a>
        </li>
    </ul>
{% endblock %}
