{# app/Resources/views/usuario/login.html.twig  #}
{% extends 'frontend.html.twig' %}

{% block title %}Regístrate gratis como usuario{% endblock %}

{% block contenido %}
	<h4 class="text-light">Regístrate gratuitamente y comienza a compartir</h4>
    <div class="elemento p-4 text-light" id="formularioRegistro">

		{{ form_start(formulario) }}
			{{ form_label(formulario.nombre, 'Nombre de usuario: ') }}
			<br>
			{{ form_widget(formulario.nombre) }} 
			<br>
			{{ form_label(formulario.email, 'Correo electrónico: ') }}
			<br>
			{{ form_widget(formulario.email) }} 
			<br>
			{{ form_label(formulario.password, 'Contraseña: ') }}
			<br>
			{{ form_widget(formulario.password) }} 
			<br>
			{{ form_label(formulario.rutaimagen, 'Imagen de perfil: ') }}
			<br>
			{{ form_widget(formulario.rutaimagen) }} 
			<br>
			{{ form_widget(formulario.acceder)}}
		{{ form_end(formulario) }}
	
    </div>
{% endblock %}
