{% extends 'backend.html.twig' %}

{% block contenido %}
    <h1>Lista de usuarios</h1>

    <table>
        <thead>
            <tr>
                <th class="pr-2 pl-2">Id</th>
                <th class="pr-2 pl-2">Nombre</th>
                <th class="pr-2 pl-2">Password</th>
                <th class="pr-2 pl-2">Email</th>
                <th class="pr-2 pl-2">Rutaimagen</th>
                <th class="pr-2 pl-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td class="pr-2 pl-2"><a href="{{ path('usuariocrud_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td class="pr-2 pl-2">{{ usuario.nombre }}</td>
                <td class="pr-2 pl-2">{{ usuario.password }}</td>
                <td class="pr-2 pl-2">{{ usuario.email }}</td>
                <td class="pr-2 pl-2">{{ usuario.rutaImagen }}</td>
                <td class="pr-2 pl-2">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('usuariocrud_show', { 'id': usuario.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('usuariocrud_edit', { 'id': usuario.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuariocrud_new') }}">Crear un usuario</a>
        </li>
    </ul>
{% endblock %}
